torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0

torch-geometric==2.7.0

numpy
scipy
pandas
scikit-learn
matplotlib
seaborn

pytorch-lightning==2.5.5
torchmetrics

ogb
umap-learn

tqdm
requests
pyyaml